<configuration>
  <system.runtime.remoting>
    <application name="Client">

      <client url="http://localhost/4923/remoting/Marshalling/By Reference/">
        <activated type="Wrox4923.Remoting.Log.Logger, Wrox4923.Remoting.Log" />
      </client>

      <channels>
        <channel ref="http" />
      </channels>

    </application>
  </system.runtime.remoting>
</configuration>