<configuration>

<appSettings>
  <add key="NorthwindConnectString"
       value="provider=SQLOLEDB.1;data source=delmonte;initial catalog=Northwind;uid=anon;pwd=;" />
  <add key="NorthwindSqlClientConnectString"
       value="server=localhost;database=Northwind;uid=anon;pwd=;" />
</appSettings>

<system.web>

  <deviceFilters>
    <filter name="IsIE" compare="browser" argument="IE" />
    <filter name="IsHTML32" compare="PreferredRenderingMIME" argument="text/html" />
  </deviceFilters>

  <!-- change following to true to use mobile toolkit pages with cookie-less sessions -->
  <sessionState cookieless="false" />

</system.web>

</configuration>
