<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
<add key="Local.Customers.CustomerOrders" value="http://localhost/4923/customer-orders/webservices/customer-data.asmx"/>
<add key="Local.Orders.RemotingOrders" value="http://localhost/4923/remoting/webservices/order-details.asmx"/>
</appSettings>
</configuration>
