<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <add key="FormsURL" value="http://www.alanddave.com/books/4923/remoting/RemoteFormsApplication/Forms/"/>
    <add key="Local.CustomersService.CustomerOrders" value="http://www.alanddave.com/books/4923/customer-orders/webservices/customer-data.asmx"/>
  </appSettings>
</configuration>
